.input {
  @apply bg-white appearance-none border-2 border-purple-400 rounded w-full py-2 px-4 text-gray-700 leading-tight;
}

button[type="submit"] {
  transition: all 0.2 ease-in;
}

.h-70 {
  height: 22rem;
}
.h-72 {
  height: 24rem;
}

.hero {
  display: block;
}

@media (min-width: 640px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.content h2 {
  @apply text-purple-700 text-4xl font-bold;
}
.content ul {
  @apply list-disc text-lg ml-8;
}
.content ol {
  @apply list-decimal text-lg ml-8;
}

.content p {
  @apply my-4 ml-8;
}
.content blockquote p {
  @apply m-0;
}
.content blockquote {
  @apply border-l-8 p-4 border-purple-700 text-2xl font-bold ml-8;
}

.content a {
  @apply text-purple-700 inline;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}
